/* Python documentation style from sphinx_rtd_theme */
dl[class^="py class"] > dt, dl[class^="py exception"] > dt {
	background: #e7f2fa;
	border: none;
	border-top: 3px solid #6ab0de;
	color: #2980b9;
	margin: 6px 0;
	padding: 6px;
	position: relative;
}
dt[class="sig sig-object py"] {
	background: #f0f0f0;
	border: none;
	border-top: 3px solid #ccc;
	color: #555;
	padding: 2px 6px;
}
